# Ignore Maven build directory
/target/

# IntelliJ IDEA files
.idea/
*.iml

# OS junk files
.DS_Store
Thumbs.db

# Logs
*.log

# Uploads (nếu cần)
upload/
src/main/resources/application.properties

.gitattributes
.mvn/
.vscode/
HELP.md
mvnw
mvnw.cmd

.gitignore
 src/main/resources/application.properties