<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel = "stylesheet" href = "../css/resetcss.css">
    <link rel = "stylesheet" href = "../css/style.css">
    <link rel = "stylesheet" href = "../css/khampha.css">
    <link rel = "icon" href="../image/Anh1.png">
    <title>DND COFFEE</title>
</head>
<body>
    <div id="header">

        <div class="search-bar">
            <input type="text" placeholder="Từ khóa tìm kiếm">
        </div>

        <nav class = "container">

            <a href="../index.html" id="logo"> 
                <img src = "../image/Anh1.png" alt = "DND COFFEE"> 
            </a>       

            <ul id = "main-menu">
                <li class ="note"> <a href="../web/khampha.html">KHÁM PHÁ</a>
                    <ul class = "sub-menu">
                        <li><a href="../web/khampha.html">MENU ĐẶC BIỆT</a>
                            <ul class = "sub-menu">
                                <li><a href="../web/dongcaphedacbiet.html"> CÀ PHÊ ĐẶC BIỆT</a></li>
                                <li><a href="../web/tinhhoatra.html"> TINH HOA TRÀ DND</a></li>
                                <li><a href="../web/menunguyenban.html"> MENU NGUYÊN BẢN</a></li>
                                <li><a href="../web/thucdonmonan.html"> THỰC ĐƠN MÓN ĂN</a></li>
                            </ul>
                        </li>
                        <li><a href="#">BẢN ĐỒ QUÁN</a></li>
                    </ul>
                </li>
                <li ><a href="../web/quancaphe.html">QUÁN CÀ PHÊ</a></li>
                <li><a href ="../web/thucdon.html">THỰC ĐƠN</a>
                    <ul class = "sub-menu">
                        <li><a href="../web/caphe.html">CÀ PHÊ</a>
                            <ul class = "sub-menu">
                                <li><a href="../web/caphephin.html">Cà Phê Phin</a></li>
                                <li><a href="../web/phindi.html">PhinDi</a></li>
                                <li><a href="../web/caphekhac.html">Khác</a></li>
                            </ul>
                        </li>
                        <li> <a href="../web/freeze.html">FREEZE</a>
                            <ul class = "sub-menu">
                                <li><a href="../web/freezetraxanh.html">Freeze Trà Xanh</a></li>
                                <li><a href="../web/freezecookies.html">Freeze Cookies & Cream</a></li>
                                <li><a href="../web/freezesocola.html">Freeze Sô-cô-la</a></li>
                            </ul>
                        </li>
                        <li><a href="../web/tra.html">TRÀ</a>
                            <ul class = "sub-menu">
                                <li><a href="../web/trasenvang.html">Trà Sen Vàng Mới</a></li>
                                <li><a href="../web/trathachdao.html">Trà Thạch Đào</a></li>
                                <li><a href="../web/trathanhdao.html">Trà Thanh Đào</a></li>
                                <li><a href="../web/trathanhvai.html">Trà Thanh Vải</a></li>
                                <li><a href="../web/traoihong.html">Trà Ổi Hồng</a></li>
                            </ul>
                        </li>
                        <li> <a href="../web/khac.html">KHÁC</a>
                            <ul class = "sub-menu">
                                <li><a href="../web/banhngot.html">Bánh ngọt</a></li>
                                <li><a href="../web/merchandise.html">Merchandise</a></li>
                                <li><a href="../web/caphedonggoi.html">Cà phê đóng gói</a></li>
                                <li><a href="../web/thucdongiaohang.html">Thực đơn giao hàng</a></li>
                            </ul>
                        </li>
                    </ul>
                
                </li>
                <li ><a href="../web/tintuc.html">TIN TỨC</a></li>
                <li > <a href="../web/vechungtoi.html">VỀ CHÚNG TÔI</a>
                    <ul class = "sub-menu">
                        <li><a href="../web/nguongoc.html">NGUỒN GỐC</a></li>
                        <li><a href="../web/dichvu.html">DỊCH VỤ</a></li>
                        <li><a href="../web/nghenghiep.html">NGHỀ NGHIỆP</a></li>
                    </ul>
                
                </li>
                <li ><a href="#">MUA NGAY</a>
                    <ul class = "sub-menu">
                        <li><a href="../web/datdouong.html">ĐỒ UỐNG</a></li>
                        <li><a href="../web/muangay.html">SẢN PHẨM CÀ PHÊ</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>


    <section class="specialty-section">
        <div class="specialty-content">
            <a href="#">
            <h2 class="specialty-title">DÒNG CÀ PHÊ ĐẶC BIỆT</h2>
            <h3 class="specialty-subtitle">(SPECIALTY COFFEE)</h3>
            </a>
            <p class="specialty-description">
                Với sự hội tụ giữa các hạt cà phê ngon nhất của Việt Nam và Thế
                Giới, cùng kết các phương pháp pha cà phê truyền thống và hiện
                đại.DND COFFEE đem lại các trải nghiệm độc
                đáo và mới lạ <span class="specialty-highlight">"CHỈ RIÊNG TẠI ĐÂY"</span>.
            </p>
            <a href="../web/dongcaphedacbiet.html" class="btn-explore">KHÁM PHÁ THÊM</a>
        </div>
        <div class="background-blob"></div>
        <img src="../image/Anh4.png" alt="DND Coffee Specialty Drink" class="specialty-image">        
    </section>

    <section class="specialty-section2">
        <div class="specialty-content2">
            <a href="#">
            <h2 class="specialty-title2">TINH HOA TRÀ DND</h2>
            <h3 class="specialty-subtitle2">(SPECIALTY TEA)</h3>
            </a>
            <p class="specialty-description2" class="specialty-highlight2">
                Với việc kết hợp hương vị hiện đại và thảo mộc tinh tế, 
                mang đến cho bạn hành trình trải nghiệm văn hóa Trà độc đáo, 
                duy nhất tại DND COFFEE.
            </p>
            <a href="../web/tinhhoatra.html" class="btn-explore2">KHÁM PHÁ THÊM</a>
        </div>
        <div class="background-blob2"></div>
        <img src="../image/Anh5 - Copy.png" alt="DND Coffee Specialty Drink" class="specialty-image2">        
    </section>

    <section class="specialty-section">
        <div class="specialty-content">
            <a href="#">
            <h2 class="specialty-title">MENU NGUYÊN BẢN</h2>
            <h3 class="specialty-subtitle">(STANDARD MENU)</h3>
            </a>
            <p class="specialty-description" class="specialty-highlight">
                Các sản phẩm đại diện của Chúng Mình mang đến hương vị tinh tế của văn hóa Việt Nam,
                 gồm Phin Cà Phê Truyền Thống Coffee đậm đà, Trà Sen Vàng độc đáo, Freeze Trà Xanh tuyệt vời và Phindi Hạnh Nhân ngon khó cưỡng.
                  Mỗi sản phẩm tại DND Coffee là một câu chuyện,
                 mời gọi bạn khám phá hương vị Việt qua từng ngụm, nơi giao thoa giữa Hiện Đại và Truyền Thống.
            </p>
            <a href="../web/menunguyenban.html" class="btn-explore">KHÁM PHÁ THÊM</a>
        </div>
        <div class="background-blob"></div>
        <img src="../image/Anh6.png" alt="DND Coffee Specialty Drink" class="specialty-image">        
    </section>

    <section class="specialty-section2">
        <div class="specialty-content2">
            <a href="#">
            <h2 class="specialty-title2">THỰC ĐƠN MÓN ĂN</h2>
            <h3 class="specialty-subtitle2">(FOOD MENU)</h3>
            </a>
            <p class="specialty-description2">
                Khám phá Thực Đơn phong phú, các loại Bánh Mặn/Ngọt (mới)
                 tại DND COFFEE được làm riêng tại nơi đây.
            </p>
            <a href="../web/thucdonmonan.html" class="btn-explore2">KHÁM PHÁ THÊM</a>
        </div>
        <div class="background-blob2"></div>
        <img src="../image/Anh7.png" alt="DND Coffee Specialty Drink" class="specialty-image2">        
    </section>




    <div id="foot">
        <footer class="highlands-footer">
            <div class="footer-container">
                <div class="social-icons">
                    <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                </div>
                <p class="copyright">© 2018 DND Coffee. All rights reserved</p>
                <div class="footer-links">
                    <a href="#" class="footer-link"><i class="fas fa-envelope"></i> Đăng ký nhận bản tin</a>
                    <a href="mailto:nguyenduonghb940@gmail.com" class="footer-link"><i class="fas fa-envelope"></i> nguyenduonghb940@gmail.com</a>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script>
        $(document).ready(function(){
            // Tìm tất cả các li có sub-menu và thêm vào nó class has-child
            $('.sub-menu').parent('li').addClass('has-child');
        });
    </script>


</body>

</html>