<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel = "stylesheet" href = "../css/resetcss.css">
    <link rel = "stylesheet" href = "../css/style.css">
    <link rel = "stylesheet" href = "../css/tintuc.css">
    <link rel = "icon" href="../image/Anh1.png">
    <title>DND COFFEE</title>
</head>
<body>
    <div id="header">

        <div class="search-bar">
            <input type="text" placeholder="Từ khóa tìm kiếm">
        </div>

        <nav class = "container">

            <a href="../index.html" id="logo"> 
                <img src = "../image/Anh1.png" alt = "DND COFFEE"> 
            </a>       

            <ul id = "main-menu">
                <li> <a href="../web/khampha.html">KHÁM PHÁ</a>
                    <ul class = "sub-menu">
                        <li><a href="../web/khampha.html">MENU ĐẶC BIỆT</a>
                            <ul class = "sub-menu">
                                <li><a href="../web/dongcaphedacbiet.html"> CÀ PHÊ ĐẶC BIỆT</a></li>
                                <li><a href="../web/tinhhoatra.html"> TINH HOA TRÀ DND</a></li>
                                <li><a href="../web/menunguyenban.html"> MENU NGUYÊN BẢN</a></li>
                                <li><a href="../web/thucdonmonan.html"> THỰC ĐƠN MÓN ĂN</a></li>
                            </ul>
                        </li>
                        <li><a href="#">BẢN ĐỒ QUÁN</a></li>
                    </ul>
                </li>
                <li><a href="../web/quancaphe.html">QUÁN CÀ PHÊ</a></li>
                <li><a href ="../web/thucdon.html">THỰC ĐƠN</a>
                    <ul class = "sub-menu">
                        <li><a href="../web/caphe.html">CÀ PHÊ</a>
                            <ul class = "sub-menu">
                                <li><a href="../web/caphephin.html">Cà Phê Phin</a></li>
                                <li><a href="../web/phindi.html">PhinDi</a></li>
                                <li><a href="../web/caphekhac.html">Khác</a></li>
                            </ul>
                        </li>
                        <li> <a href="../web/freeze.html">FREEZE</a>
                            <ul class = "sub-menu">
                                <li><a href="../web/freezetraxanh.html">Freeze Trà Xanh</a></li>
                                <li><a href="../web/freezecookies.html">Freeze Cookies & Cream</a></li>
                                <li><a href="../web/freezesocola.html">Freeze Sô-cô-la</a></li>
                            </ul>
                        </li>
                        <li><a href="../web/tra.html">TRÀ</a>
                            <ul class = "sub-menu">
                                <li><a href="../web/trasenvang.html">Trà Sen Vàng Mới</a></li>
                                <li><a href="../web/trathachdao.html">Trà Thạch Đào</a></li>
                                <li><a href="../web/trathanhdao.html">Trà Thanh Đào</a></li>
                                <li><a href="../web/trathanhvai.html">Trà Thanh Vải</a></li>
                                <li><a href="../web/traoihong.html">Trà Ổi Hồng</a></li>
                            </ul>
                        </li>
                        <li> <a href="../web/khac.html">KHÁC</a>
                            <ul class = "sub-menu">
                                <li><a href="../web/banhngot.html">Bánh ngọt</a></li>
                                <li><a href="../web/merchandise.html">Merchandise</a></li>
                                <li><a href="../web/caphedonggoi.html">Cà phê đóng gói</a></li>
                                <li><a href="../web/thucdongiaohang.html">Thực đơn giao hàng</a></li>
                            </ul>
                        </li>
                    </ul>
                
                </li>
                <li class="note" ><a href="../web/tintuc.html">TIN TỨC</a></li>
                <li > <a href="../web/vechungtoi.html">VỀ CHÚNG TÔI</a>
                    <ul class = "sub-menu">
                        <li><a href="../web/nguongoc.html">NGUỒN GỐC</a></li>
                        <li><a href="../web/dichvu.html">DỊCH VỤ</a></li>
                        <li><a href="../web/nghenghiep.html">NGHỀ NGHIỆP</a></li>
                    </ul>
                
                </li>
                <li ><a href="#">MUA NGAY</a>
                    <ul class = "sub-menu">
                        <li><a href="../web/datdouong.html">ĐỒ UỐNG</a></li>
                        <li><a href="../web/muangay.html">SẢN PHẨM CÀ PHÊ</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <div class="news-section">
        <h2 class="news-title">TIN TỨC</h2>
        
        <div class="news-container">
            <!-- News Item 1 -->
            <div class="news-item">
                <div class="news-image">
                    <img src="../image/Anh3.jpeg" alt="Trao hoa gửi trà">
                </div>
                <h3 class="news-heading">Trao hoa gửi trà - Giỏ hoa ứng hồng đã có mặt tại cửa hàng Highlands Coffee!</h3>
                <div class="news-date">
                    <i>28/02/2025, 11:36</i>
                </div>
            </div>
            
            <!-- News Item 2 -->
            <div class="news-item">
                <div class="news-image">
                    <img src="../image/Anh3.jpeg" alt="Trà Ổi Hồng Kim Quất">
                </div>
                <h3 class="news-heading">TRÀ ỔI HỒNG KIM QUẤT - TƯƠI MÁT VỊ NHIỆT ĐỚI</h3>
                <div class="news-date">
                    <i>28/02/2025, 11:36</i>
                </div>
            </div>
            
            <!-- News Item 3 -->
            <div class="news-item">
                <div class="news-image">
                    <img src="../image/Anh3.jpeg" alt="Đặt Trước Quà">
                </div>
                <h3 class="news-heading">ĐẶT TRƯỚC QUÀ 08/03 - GIỎ HOA ỨNG HỒNG</h3>
                <div class="news-date">
                    <i>28/02/2025, 11:36</i>
                </div>
            </div>
        </div>
    </div>


    <div id="foot">
        <footer class="highlands-footer">
            <div class="footer-container">
                <div class="social-icons">
                    <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                </div>
                <p class="copyright">© 2018 DND Coffee. All rights reserved</p>
                <div class="footer-links">
                    <a href="#" class="footer-link"><i class="fas fa-envelope"></i> Đăng ký nhận bản tin</a>
                    <a href="mailto:nguyenduonghb940@gmail.com" class="footer-link"><i class="fas fa-envelope"></i> nguyenduonghb940@gmail.com</a>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script>
        $(document).ready(function(){
            // Tìm tất cả các li có sub-menu và thêm vào nó class has-child
            $('.sub-menu').parent('li').addClass('has-child');
        });
    </script>


</body>

</html>